# Dependencies
/node_modules
/.pnp
.pnp.js

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
logs

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
/coverage
/test-results

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.eslintcache
.npm
.eslintcache
.node_repl_history

# Build output
*.tgz
.yarn-integrity

# Cursor
.cursor/

# Reference and test data
/reference
__mocks__
test-response.json
data_structure.json
"Congress.gov API.html" 